@charset "utf-8";
@import "reset/normalize";
@import "vendor/font-awesome/font-awesome";
@import "bourbon/bourbon";
@import "mixins/mixins";
@import "base/base";
@import "neat/neat";

@import "pages/pages";
@import "patterns/patterns";

///////////// SANDBOX //////////////////////////////////////////////////////////

.archives-title {

}

.archives-intro {
  margin-bottom: $base-spacing * 2;
}

.archives-segment {
  border-bottom: 1px solid $base-border-color;
  display: flex;
  margin-bottom: $base-spacing;
  padding-bottom: $base-spacing;

  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.archives-year {
  padding-right: $base-spacing;

  h3 { margin: 0; }
}

.archives-issues {
  flex-grow: 1;
}

.archives-issues__list {

}

.archives-issues__item {
  font-size: $base-font-size * 1.2;
}
