.page-404-content {
  text-align: center;

  h1 {
    color: $blue;

    @include media-max($media-tablet) {
      font-size: modular-scale(8);
    }
  }
}

.page-404__svg {
  height: 100%;
  margin-bottom: $base-spacing * 2;
  width: 500px;

  @include media-max($media-tablet) {
    width: 80%;
  }
}
