.archives-intro {
  margin-bottom: $base-spacing;
}

.archives-segment {
  border-bottom: 1px solid $base-border-color;
  display: flex;
  margin-bottom: $base-spacing;
  padding-bottom: $base-spacing;

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: $small-spacing;
    padding-bottom: 0;
  }
}

.archives-year {
  min-width: 85px;

  @include media-max($media-phone) {
    min-width: 55px;
  }

  h3 {
    margin: 0;

    @include media-max($media-phone) {
      font-size: $base-font-size * 1.2;
    }
  }
}

.archives-issues {
  flex-grow: 1;
}

.archives-issues__item {
  font-size: $base-font-size * 1.2;

  @include media-max($media-phone) {
    font-size: $base-font-size;
  }
}
