.article-title {
  h1 { margin-bottom: $small-spacing / 2; }
}

.article-meta {
  font-size: $small-font-size;
  text-align: center;

  .meta-author {
    display: inline-block;

    @include media-min($media-phone) {
      &::after {
        content: "–";
        display: inline;
        margin: 0 0.5rem;
      }
    }
  }

  .meta-date {
    @include media-max($media-phone) {
      display: block;
    }
  }

  .meta-tag-list {
    margin: 0.5em 0 0;
    text-align: center;
    text-transform: uppercase;
  }

  .meta-tag-list li:not(:last-child) {
    &::after {
      color: $base-font-color;
      content: ",";
      display: inline-block;
      margin-left: -1px;
      margin-right: 7px;
    }
  }

  .meta-tag-item {
    display: inline-block;
  }

  .meta-tag-item a {
    font-size: $small-font-size / 1.2;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}

.article-links {
  @include margin($base-spacing null null null);
  display: flex;
  justify-content: center;

  li {
    font-size: $base-font-size * 1.2;
    margin: 0 $small-spacing;
  }
}

.article-body {
  @include media-max($media-phone) {
    h2 {
      @include margin($base-spacing null $small-spacing / 2 null);
      font-size: modular-scale(3);
    }
  }

  h2,
  h3,
  h4 {
    @include margin($base-spacing null $small-spacing / 1.5)
  }

  ul {
    @include margin(null null $base-spacing $base-spacing * 1.5);
    list-style-type: disc;
  }

  ol {
    @include margin(null null $base-spacing $base-spacing * 1.5);
    list-style-type: decimal;
  }

  li {
    font-size: $base-font-size * 1.2;
    font-weight: 300;

    @include media-max($media-phone) {
      font-size: $base-font-size;
    }
  }

  iframe {
    @include margin($base-spacing * 2 auto);
    display: block;
  }

  video {
    @include margin($base-spacing * 2 auto);
    border: 1px solid $base-border-color;
    display: block;
    height: auto;
    width: 100%;
  }
}

.article-image,
.article-button {
  @include padding($small-spacing null);
  text-align: center;

  @include media-min($media-phone) {
    img { max-width: 80%; }
  }
}

.article-image--has-caption {
  margin-bottom: 0;
  padding-bottom: 0;
}

.article-image__caption {
  @include margin(null auto $base-spacing);
  max-width: 500px;
}

.article-text--centered {
  text-align: center;
}

.article-text--small-caps {
  font-variant: small-caps;
}

.to-God-be-the-glory {
  @include margin(3em auto 0);
  display: flex;
  justify-content: center;
}

.pdf-download {
  border-bottom: 1px solid $base-border-color;
  border-top: 1px solid $base-border-color;
  font-size: $base-font-size * 1.2;
  margin-bottom: $base-spacing * 1.9;
  padding: $base-spacing 0;
  text-align: center;

  @include media-max($media-tablet) {
    margin-bottom: $base-spacing;
    padding: $small-spacing 0;
  }
}

.fa-file-pdf {
  color: $red;
  margin-right: 7px;
}

.link-target__container {
  position: relative;
}

.link-target {
  position: absolute;
  top: -78px;

  @include media-max($media-phone) {
    top: -98px;
  }
}
