.article-header {
  @include margin(6em null 4em);
  text-align: center;

  @include media-max($media-tablet) {
    @include margin(4em null);
  }

  @include media-max($media-phone) {
    @include margin(2em null);
  }
}

.article-title {
  @include media-max($media-phone) {
    h1 {
      font-size: modular-scale(6);
    }
  }

  h1 { margin-bottom: $small-spacing / 2; }
}

.article-meta {
  font-size: $small-font-size;
  text-align: center;

  .meta-author {
    display: inline-block;

    @include media-min($media-phone) {
      &::after {
        content: "–";
        display: inline;
        margin: 0 0.5rem;
      }
    }
  }

  .meta-date {
    @include media-max($media-phone) {
      display: block;
    }
  }

  .meta-tag-list {
    margin: 0.5em 0 0;
    text-align: center;
    text-transform: uppercase;
  }

  .meta-tag-list li:not(:last-child) {
    &::after {
      color: $base-font-color;
      content: ",";
      display: inline-block;
      margin-left: -1px;
      margin-right: 7px;
    }
  }

  .meta-tag-item {
    display: inline-block;
  }

  .meta-tag-item a {
    letter-spacing: 0.05em;
    font-size: $small-font-size / 1.2;
    font-weight: 700;
  }
}


.article-links {
  @include margin($base-spacing null null null);
  display: flex;
  justify-content: center;

  li {
    font-size: $base-font-size * 1.2;
    margin: 0 $small-spacing;
  }
}

.article-hero {
  margin-bottom: $base-spacing * 2;
  text-align: center;

  @include media-max($media-phone) {
    margin-bottom: $base-spacing;
  }

  img {
    border-radius: 15px;
  }
}

.article-hero__caption {
  @include padding(null 2em);
}

.article-body {
  h3 {
    @include margin($base-spacing null $small-spacing null)
  }

  ul {
    @include margin(null null $base-spacing $base-spacing);
    list-style-type: disc;
  }

  li {
    font-size: $base-font-size * 1.2;
    font-weight: 300;
  }
}

.article-image {
  @include padding($base-spacing * 1.5 $small-spacing);
  text-align: center;
}

.article-image--has-caption {
  margin-bottom: 0;
  padding-bottom: 0;
}

.article-image__caption {
  margin-bottom: $base-spacing * 2;
}

.to-God-be-the-glory {
  @include margin(4em auto);
  display: flex;
  justify-content: center;
}

.pdf-download {
  margin-bottom: $base-spacing * 1.9;
  padding: $base-spacing 0;
  font-size: $base-font-size * 1.2;
  text-align: center;
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;

  @include media-max($media-phone) {
    margin-bottom: $base-spacing;
    padding: $small-spacing 0;
  }
}

.fa-file-pdf-o {
  color: $red;
  margin-right: 7px;
}
