.contact-subtext {
  margin-bottom: $base-spacing;
  text-align: center;
}

.contact-form {
  margin-bottom: $small-spacing;

  textarea {
    @include margin($base-spacing * 2 null $base-spacing);
  }
}

.thanks-content {
  @include margin(null null $base-spacing * 2);
  text-align: center;
}
