.home-logo {
  @include margin(6em null);
  overflow: visible;

  @include media-max($media-desktop) {
    @include margin(null 1em);
  }

  @include media-max($media-tablet) {
    @include margin(4em null);
  }

  @include media-max($media-phone) {
    @include margin(2em null);
  }
}

.home-logo__svg {
  height: 100%;
  width: 103%;
}

.article-preview {
  border-bottom: 1px solid $base-border-color;
  margin-bottom: $base-spacing * 1.8;
  padding-bottom: $base-spacing * 2;

  &:last-of-type {
    margin-bottom: $small-spacing;
  }
}

.article-preview__title {
  h2 {
    line-height: 1;
    margin-bottom: 7px;
  }

  a {
    color: $base-font-color;

    &:hover,
    &:focus {
      color: $action-color;
    }
  }
}

.article-preview__meta {
  font-size: $small-font-size;
  padding-left: 3px;

  .meta-author {
    display: inline-block;

    @include media-min($media-phone) {
      &::after {
        content: "–";
        display: inline;
        margin: 0 0.5rem;
      }
    }
  }

  .meta-date {
    margin-right: $base-spacing;

    @include media-max($media-phone) {
      display: block;
    }
  }

  .meta-tag-list {
    display: inline-block;
    margin: 0.5em 0 1em;
    text-transform: uppercase;

  }

  .meta-tag-list li:not(:last-child) {
    &::after {
      color: $base-font-color;
      content: ",";
      display: inline-block;
      margin-left: -1px;
      margin-right: 7px;
    }
  }

  .meta-tag-item {
    display: inline-block;
  }

  .meta-tag-item a {
    letter-spacing: 0.05em;
    font-size: $small-font-size / 1.2;
    font-weight: 700;
  }
}

.article-preview__content {
  p { margin-bottom: 0.5em; }
}

.pagination-links {
  text-align: center;

  .page-prev {
    margin-right: $base-spacing;

    @include media-max($media-phone) {
      margin-right: $small-spacing;
    }
  }

  .page-next {
    margin-left: $base-spacing;

    @include media-max($media-phone) {
      margin-left: $small-spacing;
    }
  }
}
