.home-logo {
  @include margin(6em null 4em);
  overflow: visible;

  @include media-max($media-desktop) {
    @include margin(null 1em);
  }

  @include media-max($media-tablet) {
    @include margin(4em 0.5em 2em);
  }

  @include media-max($media-phone) {
    @include margin(2em 0 0);
  }
}

.home-logo__svg {
  height: 100%;
  width: 103%;
}

.article-preview {
  border-bottom: 1px solid $base-border-color;
  margin-bottom: $base-spacing * 1.5;
  padding-bottom: $base-spacing * 1.5;

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.article-preview__title {
  h2 {
    line-height: 1;
    margin-bottom: 7px;
  }

  a {
    color: $base-font-color;

    &:hover,
    &:focus {
      color: $action-color;
    }
  }
}

.article-preview__meta {
  font-size: $small-font-size;
  padding-left: 3px;

  .meta-author {
    display: inline-block;

    @include media-min($media-phone) {
      &::after {
        content: "–";
        display: inline;
        margin: 0 0.5rem;
      }
    }
  }

  .meta-date {
    margin-right: $base-spacing;

    @include media-max($media-phone) {
      display: block;
    }
  }

  .meta-tag-list {
    display: inline-block;
    margin: 0.5em 0 1em;
    text-transform: uppercase;

  }

  .meta-tag-list li:not(:last-child) {
    &::after {
      color: $base-font-color;
      content: ",";
      display: inline-block;
      margin-left: -1px;
      margin-right: 7px;
    }
  }

  .meta-tag-item {
    display: inline-block;
  }

  .meta-tag-item a {
    font-size: $small-font-size / 1.2;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}

.article-preview__content {
  p { margin-bottom: 0.5em; }
}

