$bourbon: (
  "modular-scale-base": 1em,
  "modular-scale-ratio": $major-second,
  "rails-asset-pipeline": false,
);

// Typography
$base-font-family: 'Lato', $font-stack-helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1rem;
$small-font-size: 0.875rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1.2em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Media Breakpoints
$media-desktop: 1000px;
$media-tablet: 700px;
$media-phone: 500px;

// Grids
$neat-grid: ( // Default grid
  columns: 12,
  gutter: 1.3rem,
);

$tablet-grid: (
  columns: 8,
  gutter: 1rem,
  media: "(max-width: #{$media-tablet})",
);

$phone-grid: (
  columns: 4,
  gutter: 1rem,
  media: "(max-width: #{$media-phone})",
);

// Colors
$blue: #0071bb;
$red: #e92e2f;

// Grays, Black, White
$dark-gray: #323232;
$gray: #616161;
$medium-gray: #9e9e9e;
$light-gray: #bdbdbd;
$very-light-gray: #eee;
$black: #000;
$white: #fff;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $very-light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
