---
title: Thank you!
hide_from_sitemap: true
---

%section.container.navbar-top-spacing
  .column
    .thanks-title.container--title-area
      %h1 Thank you!

    .thanks-content
      %p Your message has been sent.
