.container {
  @include grid-container;
  @include margin(null auto);
  max-width: 700px;
  position: relative;
}

.wide-container {
  @include grid-container;
  @include margin(null auto $base-spacing);
  max-width: 900px;
  position: relative;
}

.narrow-container {
  @include grid-container;
  @include margin(null auto);
  max-width: 550px;
  position: relative;
}

.container--spacing {
  @include margin(null null $base-spacing);
}

.container--title-area {
  @include margin(4em null);

  text-align: center;

  @include media-max($media-phone) {
    @include margin(2em null);

    h1 {
      font-size: modular-scale(6);
    }
  }
}
