.hero-image {
  margin-bottom: $small-spacing;
  text-align: center;

  @include media-max($media-tablet) {
    margin-bottom: $base-spacing;
  }

  img {
    border-radius: 15px;

    @include media-max($media-phone) {
      border-radius: 10px;
    }
  }
}

.hero-image__caption {
  @include padding(null 2em);
}
