$navigation-color: $medium-gray;
$navigation-height: 60px;
$navigation-height-mobile: 80px;
$navigation-background: $white;
$navigation-font-size: $base-font-size * 1.2;
$navigation-font-size-mobile: $small-font-size;

.home-navbar {
  background-color: $navigation-background;
  border-bottom: 1px solid $base-border-color;
}


.home-navbar__wrapper {
  align-items: center;
  background-color: $navigation-background;
  display: flex;
  min-height: $navigation-height;
}

.home-navbar__links {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  a {
    color: $navigation-color;
    font-size: $navigation-font-size;
    font-weight: 300;

    @include media-max($media-phone) {
      font-size: $navigation-font-size-mobile;
    }

    &:focus,
    &:hover {
      color: $action-color;
    }
  }
}

.navbar-top-spacing {
  margin-top: $navigation-height;

  @include media-max($media-phone) {
    margin-top: $navigation-height-mobile;
  }
}

.navbar {
  background-color: $navigation-background;
  border-bottom: 1px solid $base-border-color;
  position: fixed;
  top: 0;
  transform: translateY(-110%);
  width: 100%;
  z-index: 999;

  &.transition {
    transition: all 0.15s linear;
  }

  &.is-visible {
    transform: translateY(0);
  }
}

.navbar__wrapper {
  background-color: $navigation-background;
}

.navbar__inner {
  align-items: center;
  display: flex;
  min-height: $navigation-height;

  @include media-max($media-phone) {
    flex-direction: column-reverse;
    min-height: $navigation-height-mobile;
  }
}

.navbar__left {

  @include media-max($media-phone) {
    flex-grow: 1;
  }
}

.navbar-logo {
  display: inline-block;
  max-width: 125px;
  position: relative;
  top: 3px;
}

.navbar-logo__svg {
  height: 25px;
  width: 125px;
}

.navbar__right {
  flex-grow: 1;

  @include media-max($media-phone) {
    align-items: center;
    align-self: stretch;
    display: flex;
  }
}

.navbar__links {
  display: flex;
  justify-content: flex-end;

  @include media-max($media-phone) {
    flex-grow: 1;
    justify-content: space-between;

    li { margin: 0; }
  }

  li {
    margin: 0 15px;

    @include media-max($media-tablet) {
      margin: 0 7px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    color: $navigation-color;
    font-weight: 300;

    @include media-max($media-phone) {
      font-size: $navigation-font-size-mobile;
    }

    &:focus,
    &:hover {
      color: $action-color;
    }
  }
}
