$navigation-color: $medium-gray;
$navigation-height: 60px;
$navigation-height-mobile: 80px;
$navigation-background: $white;
$navigation-font-size: $base-font-size * 1.2;
$navigation-font-size-mobile: $small-font-size;

.home-navbar {
  background-color: $navigation-background;
  border-bottom: 1px solid $base-border-color;
}


.home-navbar__wrapper {
  background-color: $navigation-background;
  display: flex;
  min-height: $navigation-height;
  align-items: center;
}

.home-navbar__links {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  a {
    color: $navigation-color;
    font-size: $navigation-font-size;

    &:focus,
    &:hover {
      color: $action-color;
    }

    @include media-max($media-phone) {
      font-size: $navigation-font-size-mobile;
    }
  }
}

.navbar {
  background-color: $navigation-background;
  border-bottom: 1px solid $base-border-color;
}

.navbar__wrapper {
  background-color: $navigation-background;
}

.navbar__inner {
  display: flex;
  align-items: center;
  min-height: $navigation-height;

  @include media-max($media-phone) {
    flex-direction: column-reverse;
    min-height: $navigation-height-mobile;
  }
}

.navbar__left {
  // border: 1px solid green;

  @include media-max($media-phone) {
    flex-grow: 1;
  }
}

.navbar-logo {
  max-width: 125px;
  display: inline-block;
  // border: 1px solid red;
  position: relative;
  top: 3px;
}

.navbar-logo__svg {
  width: 125px;
  height: 25px;
}

.navbar__right {
  // border: 1px solid green;
  flex-grow: 1;

  @include media-max($media-phone) {
    display: flex;
    align-self: stretch;
    align-items: center;
  }
}

.navbar__links {
  display: flex;
  justify-content: flex-end;
  // border: 1px solid purple;

  li {
    margin: 0 15px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    color: $navigation-color;

    &:focus,
    &:hover {
      color: $action-color;
    }

    @include media-max($media-phone) {
      font-size: $navigation-font-size-mobile;
    }
  }



  @include media-max($media-phone) {
    li { margin: 0; }
    flex-grow: 1;
    justify-content: space-between;
  }
}
