body {
  @apply font-sans font-normal leading-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-header font-bold;
}

a {
  @apply .text-ofr-blue .no-underline;
  transition: color 150ms ease;
}

a:hover {
  @apply .text-ofr-blue-lighter;
  transition: color 150ms ease;
}
