---
title: Page Not Found
---

= wrap_layout :layout do
  %section.wide-container.navbar-top-spacing
    .column.page-404-content.container--title-area
      = inline_svg "404.svg", class: "page-404__svg"
      %h1 Oops, we couldn't find that page.
