%header.navbar
  .navbar__wrapper.container
    .navbar__inner.column
      .navbar__left
        %p= link_to "[LOGO]", "/"
      %nav.navbar__right
        %ul.navbar__links
          = partial "nav_links"
