%header.navbar
  .navbar__wrapper.container
    .navbar__inner.column
      .navbar__left
        = link_to "/", class: "navbar-logo" do
          = inline_svg "ofr-logo-2017.svg", class: "navbar-logo__svg"
      %nav.navbar__right
        %ul.navbar__links
          = partial "nav_links"
