---
title: Archives
layout: page_layout
---

.archives-title.container--title-area
  %h1 Archives

.archives-subtext
  %p Here are the past issues of Overseas Field Report.

.archives-content

  %h2 2017
  %ul.archives-content__list.fa-ul
    - data.newsletters.issues_2017.each do |newsletter|
      = partial "partials/archive_segment", locals: { newsletter: newsletter }

  %hr

  %h2 2016
  %ul.archives-content__list.fa-ul
    - data.newsletters.issues_2016.each do |newsletter|
      = partial "partials/archive_segment", locals: { newsletter: newsletter }

  %hr

  %h2 2015
  %ul.archives-content__list.fa-ul
    - data.newsletters.issues_2015.each do |newsletter|
      = partial "partials/archive_segment", locals: { newsletter: newsletter }

  %hr

  %h2 2014
  %ul.archives-content__list.fa-ul
    - data.newsletters.issues_2014.each do |newsletter|
      = partial "partials/archive_segment", locals: { newsletter: newsletter }
