---
title: Family
---

%section.container.navbar-top-spacing
  .family-title.column.container--title-area
    %h1 Pleased to meet you!

%section.wide-container
  .family-hero.hero-image.column
    = image_tag "steele-family-2016.jpg"
    .family-hero__caption.hero-image__caption
      %p.caption-text
        The Steele Family<br>Joshua, Kelsie, Abigail, Rebekah, Hosanna, Kathryn, David

%section.container.container--spacing
  .column
    .family-bio
      = partial "markdown/family"
